<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Note: You need to overwrite thse connection strings to match your local configuration-->
    <add key="NorthwindConnectionString"
         value ="Data Source=(local);Initial Catalog=Northwind;Integrated Security=True"/>

    <add key="DbConnectionString"
         value ="Data Source=(local);Initial Catalog=Master;Integrated Security=True"/>
  </appSettings>
</configuration>